

.calculator-head {
    position: relative;
    margin-bottom: 20%;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(72, 72, 72), rgb(116, 116, 116));
    border-radius: 15px;
    width: 210px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}


.calculator-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 210px;
}

#display {
    padding: 3px 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}

.calculator-inner button {
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

button {
    background-color: rgb(54, 54, 54);
}
button:hover {
    background-color: rgb(45, 45, 45);
}
button:active {
    background-color: rgb(38, 38, 38);
}


.operatorbtn {
    background-color: rgb(40, 40, 40);
}
.operatorbtn:hover {
    background-color: rgb(30, 30, 30);
}
.operatorbtn:active {
    background-color: rgb(17, 17, 17);
}

.upperbtn {
    background-color: rgb(61, 61, 61);
}
.upperbtn:hover {
    background-color: rgb(52, 52, 52);
}
.upperbtn:active {
    background-color: rgb(45, 45, 45);
}

footer .calculator-head .calculator-inner button:hover{
    z-index: 10;
}